.product-list-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.product-list-item img {
    display: block;
    max-width: 120px;
    mix-blend-mode: multiply;
}

.product-list-item .product-image-container {
    position: relative;
}

.product-list-item .product-link .suggestion-wrapper {
    bottom: 0;
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.product-list-item .product-link .suggestion {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #000;
    color: #000;
    font-size: 0.85rem;
    margin: auto;
    opacity: 0;
    padding: 0 10px;
    position: relative;
    text-align: center;
    top: 20px;
    white-space: nowrap;
}

.product-list-item .product-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.product-list-item .product-link .product-name {
    color: #c79f7a;
}

.product-list-item .product-link .image-error {
    color: #ccc;
}

.product-list-item .product-link .suggestion-wrapper,
.product-list-item .product-link .product-image {
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.product-list-item .product-link .product-name,
.product-list-item .product-link .suggestion {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.product-list-item .product-link .product-image {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
}

.product-list-item .product-link:hover .product-image {
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
}

.product-list-item .product-link:hover .product-name {
    color: #000;
}

.product-list-item .product-link:hover .suggestion {
    opacity: 1;
    top: 0;
}
