.home {
    margin: 20px;
}

.home .image-error {
    align-items: center;
    background-color: #fafafa;
    display: flex;
    font-size: 0.5rem;
    height: 160px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    width: 120px;
}

.home .product-list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.home .beer-finder-link {
    margin-left: 5px;
    white-space: nowrap;
}

.home .beer-finder-link::after {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    color: #a4babb;
    content: "Beer Finder";
    font-size: 0.5rem;
    padding-left: 5px;
    text-transform: uppercase;
}

.home .beer-finder-link:hover::after {
    color: #000;
}

