.home {
    background-color: #f8f1e3;
    padding: 20px;
}

.home .image-error {
    align-items: center;
    display: flex;
    font-size: 0.5rem;
    height: 160px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    width: 120px;
}

.home .product-list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.home .beer-finder-link {
    align-items: center;
    display: flex;
    justify-content: center;
}
