.beer-finder-link {
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    display: flex;
    height: 30px;
    width: 30px;
}

.beer-finder-link svg path {
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    fill: #a4babb;
}

.beer-finder-link:hover svg path {
    fill: #000;
}

.beer-finder-link:hover {
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}

.beer-finder-link::after {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    color: #a4babb;
    content: "Beer Finder";
    font-size: 0.75rem;
    padding-left: 5px;
    white-space: nowrap;
}

.beer-finder-link:hover::after {
    color: #000;
}

