.beer-finder .search-label {
    color: #ccc;
    padding-left: 10px;
}

.beer-finder .product-name {
    padding-left: 10px;
}

.beer-finder .back-label,
.beer-finder .store-value {
    padding-left: 5px;
}

.beer-finder .search-label::after,
.beer-finder .store-label::after {
    content: ":";
}

.beer-finder .controls input {
    font-size: 1rem;
    margin-left: 10px;
}
